/* forms */
.inline-label {
  padding-left: 8px;
  cursor: pointer;
  vertical-align: -1px;
  left: -3px;
  position: relative;
}
/* page preloader */
:host .page_preloader_active {
  overflow: hidden;
}
:host .page_preloader_active > .page_preloader {
  -webkit-transition: opacity 1000ms ease-out;
  transition: opacity 1000ms ease-out;
  opacity: 1;
  position: fixed;
  background-color: #ffffff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10005;
}
:host .page_preloader_active > .page_preloader > .regular-preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -24px 0 0 -24px;
}
:host .pace-done > .page_preloader {
  opacity: 0;
}
/* layout */
#page_content:before {
  content: '';
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  display: block;
  opacity: 0;
  -webkit-transition: opacity 400ms;
  transition: opacity 400ms;
  z-index: -1;
}
#page_content_inner {
  padding: 24px 24px 100px;
}
:host .login_page {
  font-size: 15px;
  padding: 64px 24px;
  overflow-y: auto;
  height: auto;
  min-height: 100%;
}
@media only screen and (max-width: 767px) {
  :host .login_page {
    padding: 24px;
  }
}
.login_page_wrapper {
  width: 360px;
  max-width: 100%;
  margin: 0 auto;
  -webkit-transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.login_page .user_avatar {
  width: 64px;
  height: 64px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  background-image: url("/assets/img/avatars/user.png");
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.085);
  background-position: 50% 1px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 192), only screen and (min-resolution: 192dppx), only screen and (min-resolution: 2dppx) {
  .login_page .user_avatar {
    background-image: url("/assets/img/avatars/user@2x.png");
    background-size: 64px 64px;
  }
}
.login_page .login_heading {
  text-align: center;
  margin-bottom: 32px;
}
