/* You can add global styles to this file, and also import other style files */
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  height: 100%;
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

html {
  overflow-x: hidden;
}
