.shell-container {
  height:100%;
}

/* for headers */
.app-header {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  background: #50515a;
}
  
.app-header-text {
  display: block;
  position: relative;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 20px;
  line-height: 1;
  letter-spacing: .02em;
  font-weight: 400;
  box-sizing: border-box;
}

.app-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
  font-size: 24px;
}

.app-icon-button-toggle {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

.app-toolbar-filler {
  flex: 1 1 auto;
}
/* end headers */


/* for sidenavs */
.app-sidenav.mat-sidenav.mat-sidenav-side.mat-sidenav-opened {
  -webkit-box-shadow: 3px 0 6px rgba(0,0,0,.14);
         box-shadow: 3px 0 6px rgba(0,0,0,.14);
}

.active {
  background-color: #00BCD4;
  color: #37474F !important;
}

.app-sidenav {
  width:240px;
  background-color: #37474f;
  color: #eceff1;
}

.sidebar-header {
  background-color: #263238;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 16px;
  height: 151px;
}

.app-avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

.app-avatar-dropdown {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.div-spacer {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.sidebar-navs {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding-top: 16px;
  /*background-color: #37474f !important;*/
}

.nav-link {
  display: block;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 16px 40px;
  margin: 0;
  font-weight: 500;
  align-items: center;
  color: rgba(255, 255, 255, 0.56);
  line-height: 24px;
  letter-spacing: 0;
  opacity: .87;
  text-decoration: none;
}

.nav-link:hover {
  background-color: #00BCD4;
  color: #37474F;
}

/* end sidenavs */


.app-content {
  padding: 20px;
}


.app-icon-button {
  border-radius: 50%;
  font-size: 24px;
  height: 32px;
  margin-left: 0;
  margin-right: 0;
  min-width: 32px;
  width: 32px;
  padding: 0;
  overflow: hidden;
  color: inherit;
  line-height: normal;
  vertical-align: middle;
}

.app-icon-button:hover {
  background-color: rgba(158,158,158,.2);
}

.material-icons.md-light {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-12px,-12px);
  transform: translate(-12px,-12px);
  line-height: 24px;
  width: 24px;
  font-size: 24px;
  color: rgba(255, 255, 255, 1);
}

.material-icons.md-grey {
  font-size: 24px;
  color: #78909c !important;
  margin-right: 32px;
  vertical-align: middle;
}



.app-button {
  background: 0 0;
  border: none;
  border-radius: 2px;
  color: #000;
  position: relative;
  height: 36px;
  margin: 0;
  min-width: 64px;
  padding: 0 16px;
  display: inline-block;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  overflow: hidden;
  will-change: box-shadow;
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 36px;
  vertical-align: middle;
}
