<md-sidenav-container class = "shell-container">
  <md-sidenav #sidenav mode="side" opened="true" class="app-sidenav">
    <header class = "sidebar-header">
      <img src = "assets/img/user.jpg" class = "app-avatar">
      <div class = "app-avatar-dropdown">
        <span>{{ email }}</span>
        <div class = "div-spacer"></div>
        <button class = "app-icon-button" md-icon-button [md-menu-trigger-for]="sidebarMenu">
          <i class="material-icons md-light">arrow_drop_down</i>
        </button>
      </div>
    </header>
    <md-menu x-position="before" #sidebarMenu="mdMenu">
      <button md-menu-item>Option 1</button>
      <button md-menu-item>Option 2</button>
    </md-menu>
    <nav class = "sidebar-navs">
      <a class="nav-link" routerLinkActive="active" routerLink="/profile"><i class=" material-icons md-grey" role="presentation">home</i>Home</a>
      <a class="nav-link" routerLinkActive="active" routerLink="/navigation"><i class=" material-icons md-grey" role="presentation">assignment</i>Management</a>
      <a class="nav-link" routerLinkActive="active" routerLink="/header"><i class=" material-icons md-grey" role="presentation">assignment_ind</i>Users</a>
      <a class="nav-link" routerLinkActive="active" routerLink="/content"><i class=" material-icons md-grey" role="presentation">report</i>Spam</a>
    </nav>
  </md-sidenav>

  <md-toolbar color="primary" class = "app-header">
    <button class="app-icon-button-toggle" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>
    <span class = "app-header-text">Home</span>
    <span class = "app-toolbar-filler"></span>
    <button class = "app-icon-button" md-icon-button [md-menu-trigger-for]="menu">
      <md-icon class="material-icons md-light">more_vert</md-icon>
    </button>
    <md-menu x-position="before" #menu="mdMenu">
      <button md-menu-item [routerLink]="['/login']"><i class="material-icons">exit_to_app</i> Logout</button>
      <button md-menu-item>Option 2</button>
    </md-menu>
  </md-toolbar>


  <div class="app-content">
    <router-outlet></router-outlet>
  </div>

</md-sidenav-container>
